---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

#mapid { height: 600px; }
hr.first {
  border-top: 1px solid #0088cc;
  margin: 0px -10000px 10px;
}
hr.main {
  border-top: 1px solid #0088cc;
}

#route-input {
    height: 40px;
    width: 100%;
    font-size: 14pt;
    border-radius: 5px;
    border: 1px solid #0088cc;
}

#mapid {
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    border: 1px solid #0088cc;
}

#mapid:hover {
    outline: none !important;
    border: 1px solid #0088cc;
    box-shadow: 0 0 10px #0088cc;
    border-radius: 5px;
}

#route-input:focus {
    outline: none !important;
    border: 1px solid #0088cc;
    box-shadow: 0 0 10px #0088cc;
    border-radius: 5px;
}
